:root {
    --animate-duration: 1.9s;
    --animate-delay: 1s;
  }

body {
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100vw;
}

.header {
    background-image: url("img/robot-spraying-fertilizer-vegetable-garden.jpg");
    background-size: cover;
    object-fit: cover;
    height: 80vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.7)); /* Shadow effect */

    display: flex;
    justify-content: center;
    align-items: center;  
}

.title {
    /* top: 35vh;
    margin-left: 37vw; */
    z-index: 3;
    font-size: 3.125rem;
    color: white;
    position: sticky;
    top: 30vh; 
    transition: all 0.3s ease-out;
}

#navbar {
    overflow: hidden;
    margin-top: auto;
    background-color: #04AA6D;
    z-index: 3;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* position: -webkit-sticky; */
    position: sticky;
}

#navbar a {
    /* float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.sticky {
    position: sticky;
    width: 100%;
    top: 0;
}

.sticky+.content {
    padding-top: 60px;
}

.maincontainer {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#cardcontent {
    height: 100px;
}

#cardcontent:hover {
    border: 2px solid black;
}

button.card{
    height: 25%;
    width: 25%;
} 

.btnmodal:hover {
    box-shadow: black;
    scale: 1.06;
}

.modal-body img{
    width: 100%;
}

.container1,
.container2,
.container3 {
    height: 40vh;
    margin: 0;
}

.container1 {
    background-color: lightgreen;
}

.container2 {
    background-color: yellow;
}

.container3 {
    background-color: green;
}

.modal-body img{
    margin-bottom: 10px;
}

@media screen and (max-width: 500px)  {
    body{
        font-size: 14px;
    }
    .maincontainer{
        flex-direction: column;
    }
    button.card{
        height: 25%;
        width: 50%;
    } 
    .btnmodal h4{
        font-size: 14px;
        padding: none;
    }
}


